/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.styles_principal__xuY5r {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.styles_btnprincipal__ckkIc {
    background-color: white;
    color: #553600;
    border-radius: 0.25rem;;
    border: 1px solid ;
    padding: 0.5rem 1rem;
    transition: ease-out 200ms;
}

.styles_btnprincipal__ckkIc:hover {
    transition: ease-in-out 200ms;
    background-color: #553600;
    color: white;
}
